<h1>Listing games</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @games.each do |game| %>
      <% if ((game.players.include?(current_player)) or (game.creator_id == current_player.id)) %>
        <tr>
          <td><%= game.name %> <%= (Player.find(game.creator_id)).username %></td>
          <td><%= link_to 'Show', game %></td>
          <% if game.creator_id == current_player.id %>
            <td><%= link_to 'Edit', edit_game_path(game) %></td>
            <td><%= link_to 'Destroy', game, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          <% end %>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Game', new_game_path %>
